body {
    min-width: 900px;
    margin: 0;
    font-size: 15px;
    line-height: normal;
    color: black;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -45px;
}

.sprite-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -87px;
}

.sprite-vk {
    width: 26px;
    height: 15px;
    background-position: -10px -128px;
}


.main-header {
  padding-top: 25px;
  background: #eee;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-logo {
  display: block;
  float: left;
  width: 140px;
  height: 55px;
}
.main-navigation {
  float: left;
  max-width: 500px;

  margin-left: 150px;

}
.user-block {
  float: right;
  max-width: 100px;
}
/*Оформление шапки*/
.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  text-transform: uppercase;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #ababab;
}

.cart {
  position: relative;

  display: inline-block;
  padding: 25px 0px;
  padding-left: 50px;

  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: #ababab;
}

.cart::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 18px;
  width: 30px;
  height: 25px;
  transform: scale(0.8);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

/**/
/*слайдер*/
.slider {
  position: relative;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;

  width: 200px;
  margin-left: -100px;

  text-align: center;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background:  #fff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}


.slider-item {
  display: none;
}

#btn-1:checked ~ .slides .slider-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slider-item:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slider-item:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slider-item {
  min-height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider-text{
  width: 500px;
  padding: 30px 0;
}
.slider-name {
  font-weight: 500;
  font-size: 36px;
}

.slider-title {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}
.slider-name-block,.slider-title-block {
  display: block;
}

.slider-btn {
  display: block;
  width: 220px;
  padding: 12px 10px;
  margin-top: 25px;

  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
}
.slider-btn:hover {
  background-color: #d6494d;
}
.slider-btn:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0 0 #9b2d30;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
}
.slider-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
}
.slider-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
}
/**/

.features {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 0;
}
.features-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  font-size: 15px;
}
.features-item:nth-child(3n) {
  margin-right: 0;
}
.btn {
  display: block;
  width: 130px;
  padding: 10px 10px;
  margin-top: 25px;

  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
}
.features-item:nth-child(1) .features-btn {
  background-color: #fb565a;
}
.features-item:nth-child(1) .features-btn:hover {
  background-color: #d6494d;
}
.features-item:nth-child(1) .features-btn:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0 0 #9b2d30;
}
.features-item:nth-child(2) .features-btn {
  background-color: #00ca74;
}
.features-item:nth-child(2) .features-btn:hover {
  background-color: #01a25e;
}
.features-item:nth-child(2) .features-btn:active {
  background-color: #009053;
  box-shadow: inset 0px 3px 0 0 #007b47;
}
.features-item:nth-child(3) .features-btn {
  background-color: #efc84a;
}
.features-item:nth-child(3) .features-btn:hover {
  background-color: #d6ae2c;
}
.features-item:nth-child(3) .features-btn:active {
  background-color: #c09b24;
  box-shadow: inset 0px 3px 0 0 #a3841f;
}

.features-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.features-title {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}

.content.left {
    float: left;
  width: 575px;
  margin-right: 60px;
}
.content.right {
    float: right;
  width: 240px;
  }
.studio {
  padding-top:  75px;
  margin-bottom: 75px;
  border-top: 2px solid #eee;
}
.studio-title {
  font-size: 36px;
  line-height: 36px;
}
.studio-text {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.studio-develop-title {
  font-size 16px:
  line-height: 22px;
  color:#283136;
  text-transform: uppercase;
}
ul.studio-develop {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  list-style: none;
}
/*как правильно задать класс для каждого пункта?*/
ul.studio-develop li:before {
  content: "" ;
  position: absolute;

  top: 10px;
  left: 3px;
  width: 25px;
  height: 2px;

  background: #fb565a;
}
.partners {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: 0 10px;
}
.partners-item {
  display: inline-block;
  width: 220px;
  margin-right: 80px;
  margin-bottom: 45px;
  margin-top: 45px;
  vertical-align: middle;
  text-align: center;
}

.partners-item:nth-child(3n) {
    margin-right: 0;
}
.partners-item {
  opacity: 0.2;
}
.partners-item:hover {
  opacity: 1;
}
.map {
  position: relative;
  min-height: 415px;
  margin-top: 85px;
  background: #e9e5dc url("../img/map.png") no-repeat ;
  background-position: 50% 40%;
}

.contacts-info {
  position: absolute;
  top: 80px;
  left: 0;
  width: 205px;
  background-color: #fff;
  position: relative;
  padding: 30px 0 0 20px;
  padding: 30px 24px;
}
.info-name {
  font-size: 16px;
  line-height: 30px;
}

.info-title {
  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-btn {
  width: 200px;
  padding: 10px 0;
}
.footer-contacts-btn:hover {
  background-color: #d6494d;
}
.footer-contacts-btn:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0 0 #9b2d30;
}

.info-title-block {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}

.footer-contact{
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer-social {
  float: left;
  width: 240px;
  font-size: 0;
}
.footer-social-title {
  float: right;
  width: 550px;
}
/*Кнопки соц сетей*/
.contact-btn {
  display: inline-block;
  position: relative;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.contact-btn{
  margin-right: 30px;
}
.contact-btn:nth-child(3n){
  margin-right: 0px;
}
.contact-btn:hover {
  background: #fb565a;
}
.contact-btn:active {
  background: #d6494d;
  box-shadow: inset 0px 3px 0 0 #b63e42;
}
.contact-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.contact-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -10px -128px;
}
.contact-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -45px;
}
.contact-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -87px;
}

/**/
.footer-social-title {
  text-align: left;
  vertical-align: top;
}
.footer-social-name {
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 1000;
  padding: 0;
  margin: 0;

}

.footer-social-text {
  font-size: 16px;
  line-height: 22px;
}
/*Каталог*/
.main-title{
  clear: both;
  margin: 0;
  font-size: 40px;
  font-weight:bolder;
  text-align: center;
  text-transform: uppercase;
}

.filter {
  float: left;
  max-width: 240px;
}

.filter-grid label,
.filter-grid input[type=radio] {
  display:inline-block;
}

.filter-features label,
.filter-features input[type=checkbox] {
  display: inline-block;
}

.content-right {
  float: right;
  width: 560px;
}
.catalog-item {
  display: inline-block;
  width: 230px;
  margin-right: 80px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
